
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define ExponentialDistribution { ExponentialDistribution1 }
Define EntityConveyor { EntityConveyor1  EntityConveyor2 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define SimEntity { SimEntity1 }
Define SubModel { Factory  ServerPlusQueue }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Define ExpressionThreshold { Factory.ExpressionThreshold  ServerPlusQueue.Threshold }
Define UniformDistribution { Factory.UniformDistribution  Factory.UniformDistribution1 }
Define EntityConveyor { Factory.EntityConveyor }
Define Queue { ServerPlusQueue.Queue }
Define Server { ServerPlusQueue.Server }
Define SubModelEnd { Factory.SubModelEnd  ServerPlusQueue.End }
Define SubModelStart { Factory.SubModelStart  ServerPlusQueue.Start }

Define ServerPlusQueue { Factory.ServerPlusQueue  Factory.ServerPlusQueue1 }


ExponentialDistribution1 UnitType { TimeUnit }
Factory.UniformDistribution UnitType { TimeUnit }
Factory.UniformDistribution1 UnitType { TimeUnit }

ServerPlusQueue KeywordList { { ServiceTime  TimeUnit } { MaxQueueLength } }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[EntityConveyor1].Open || [EntityConveyor1].Working' }
ExpressionThreshold1 WatchList { EntityConveyor1 }

# *** ExponentialDistribution ***

ExponentialDistribution1 RandomSeed { 1 }
ExponentialDistribution1 Mean { 1  s }

# *** EntityConveyor ***

EntityConveyor1 ReleaseThresholdList { Factory.ServerPlusQueue.Threshold }
EntityConveyor1 NextComponent { Factory }
EntityConveyor1 TravelTime { 2  s }

EntityConveyor2 NextComponent { EntitySink1 }
EntityConveyor2 TravelTime { 2  s }

# *** EntityGenerator ***

EntityGenerator1 ImmediateThresholdList { ExpressionThreshold1 }
EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 InterArrivalTime { ExponentialDistribution1 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 BaseName { Ent }

# *** SubModel ***

Factory NextComponent { EntityConveyor2 }

ServerPlusQueue ServiceTime { 0[s] }
ServerPlusQueue MaxQueueLength { 1000000 }

# *** ExpressionThreshold ***

Factory.ExpressionThreshold OpenCondition { '[Factory.EntityConveyor].Open || [Factory.EntityConveyor].Working' }
Factory.ExpressionThreshold WatchList { Factory.EntityConveyor }

ServerPlusQueue.Threshold OpenCondition { 'sub.[Queue].QueueLength < sub.MaxQueueLength' }
ServerPlusQueue.Threshold WatchList { ServerPlusQueue.Queue }

# *** UniformDistribution ***

Factory.UniformDistribution RandomSeed { 2 }
Factory.UniformDistribution MinValue { 0  s }
Factory.UniformDistribution MaxValue { 2  s }

Factory.UniformDistribution1 RandomSeed { 3 }
Factory.UniformDistribution1 MinValue { 0  s }
Factory.UniformDistribution1 MaxValue { 4  s }

# *** EntityConveyor ***

Factory.EntityConveyor ReleaseThresholdList { Factory.ServerPlusQueue1.Threshold }
Factory.EntityConveyor NextComponent { Factory.ServerPlusQueue1 }
Factory.EntityConveyor TravelTime { 2  s }

# *** Server ***

ServerPlusQueue.Server NextComponent { ServerPlusQueue.End }
ServerPlusQueue.Server WaitQueue { ServerPlusQueue.Queue }
ServerPlusQueue.Server ServiceTime { sub.ServiceTime }

# *** SubModelStart ***

Factory.SubModelStart NextComponent { Factory.ServerPlusQueue }

ServerPlusQueue.Start NextComponent { ServerPlusQueue.Queue }

# *** SubModel ***

Factory.ServerPlusQueue NextComponent { Factory.EntityConveyor }
Factory.ServerPlusQueue ServiceTime { [Factory.UniformDistribution].Value }
Factory.ServerPlusQueue MaxQueueLength { 3 }

Factory.ServerPlusQueue1 NextComponent { Factory.SubModelEnd }
Factory.ServerPlusQueue1 ServiceTime { [Factory.UniformDistribution1].Value }
Factory.ServerPlusQueue1 MaxQueueLength { 3 }

# *** Server ***

Factory.ServerPlusQueue.Server ReleaseThresholdList { Factory.ExpressionThreshold }
# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ShowEventViewer { FALSE }

ExpressionThreshold1 Position { -2.4  1.5  0.0  m }

ExponentialDistribution1 Position { -3.5  -1.5  0.0  m }

EntityConveyor1 Points { { -2.6  0.5  0.0  m } { 0.6  0.5  0.0  m } }

EntityConveyor2 Points { { 2.4  0.5  0.0  m } { 5.6  0.5  0.0  m } }

EntityGenerator1 Position { -3.5  0.5  0.0  m }

EntitySink1 Position { 6.5  0.5  0.0  m }

SimEntity1 Position { -5.4  0.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Factory Position { 1.5  0.5  0.0  m }

ServerPlusQueue Position { -7.3  -1.4  0.0  m }

Factory.ExpressionThreshold Position { -2.5  1.7  0.0  m }
Factory.ExpressionThreshold Region { Factory.Region }

ServerPlusQueue.Threshold Position { 0.5  0.4  0.0  m }
ServerPlusQueue.Threshold Region { ServerPlusQueue.Region }

Factory.UniformDistribution Position { -4.0  -2.0  0.0  m }
Factory.UniformDistribution Region { Factory.Region }

Factory.UniformDistribution1 Position { 3.7  -2.0  0.0  m }
Factory.UniformDistribution1 Region { Factory.Region }

Factory.EntityConveyor Points { { -2.7  0.8  0.0  m } { 2.3  0.8  0.0  m } }
Factory.EntityConveyor Region { Factory.Region }

ServerPlusQueue.Queue Position { -0.5  0.4  0.0  m }
ServerPlusQueue.Queue Region { ServerPlusQueue.Region }

ServerPlusQueue.Server Position { 0.0  -0.4  0.0  m }
ServerPlusQueue.Server Region { ServerPlusQueue.Region }

Factory.SubModelEnd Position { 5.6  0.8  0.0  m }
Factory.SubModelEnd Region { Factory.Region }

ServerPlusQueue.End Position { 1.0  -0.4  0.0  m }
ServerPlusQueue.End Region { ServerPlusQueue.Region }

Factory.SubModelStart Position { -5.9  0.8  0.0  m }
Factory.SubModelStart Region { Factory.Region }

ServerPlusQueue.Start Position { -1.0  -0.4  0.0  m }
ServerPlusQueue.Start Region { ServerPlusQueue.Region }

Factory.ServerPlusQueue Position { -4.0  0.8  0.0  m }
Factory.ServerPlusQueue Region { Factory.Region }

Factory.ServerPlusQueue1 Position { 3.6  0.8  0.0  m }
Factory.ServerPlusQueue1 Region { Factory.Region }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Nested SubModel Example' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 1.9  -1.2  2.330901  m }
View1 ViewPosition { 1.9  -1.2  19.651405  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** Region ***

Factory.Region Position { 0.0  -2.6  0.0  m }
Factory.Region Size { 7.0  3.2  0.0  m }

ServerPlusQueue.Region Size { 1.5  1.0  0.0  m }

Factory.ServerPlusQueue.Region Region { Factory.Region }

Factory.ServerPlusQueue1.Region Region { Factory.Region }
