
RecordEdits

Define EventSchedule { EventSchedule1 }
Define EntityConveyor { EntityConveyor1 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define SimEntity { SimEntity1 }
Define ColladaModel { Axis  Grid100x100 }
Define TextModel { ClockTextModel  TitleTextModel }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Simulation Description { 'Simulation run control inputs' }

# *** EventSchedule ***

EventSchedule1 TimeList { '1970-01-01 08:00:00'  '1970-01-02 12:00:00'  '1970-01-03 08:00:00'  '1970-01-04 12:00:00'  '1970-01-05 08:00:00' }
EventSchedule1 CycleTime { 1  w }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { EntitySink1 }
EntityConveyor1 TravelTime { 1  h }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 FirstArrivalTime { EventSchedule1 }
EntityGenerator1 InterArrivalTime { EventSchedule1 }
EntityGenerator1 PrototypeEntity { SimEntity1 }

# *** EntitySink ***


# *** SimEntity ***


# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { h }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 16384 }
Simulation ShowLabels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

EventSchedule1 Position { -3.5  -1.0  0.0  m }

EntityConveyor1 Points { { -2.8  0.5  0.0  m } { -0.2  0.5  0.0  m } }

EntityGenerator1 Position { -3.5  0.5  0.0  m }

EntitySink1 Position { 0.5  0.5  0.0  m }

SimEntity1 Position { -5.4  0.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** TextModel ***

ClockTextModel Description { 'Text style for the Clock' }
ClockTextModel FontColour { 51  51  51 }
ClockTextModel FontStyle { ITALIC }

TitleTextModel Description { 'Text style for the Title' }
TitleTextModel FontColour { 150  23  46 }
TitleTextModel FontStyle { BOLD }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time (no leap years or leap seconds)' }
Clock DisplayModel { ClockTextModel }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title DisplayModel { TitleTextModel }
Title ScreenPosition { 15  15 }
Title Format { 'EventSchedule Example' }
Title TextHeight { 18 }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -1.716612  -0.053308  0.0  m }
View1 ViewPosition { -1.716612  -0.053308  12.679478  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
