
RecordEdits

Define EntityConveyor { EntityConveyor1  EntityConveyor2 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define Server { Server1 }
Define SimEntity { SimEntity1 }
Define ColladaModel { Axis  Grid100x100 }
Define BarGauge { BarGauge1  BarGauge2 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Simulation Description { 'Simulation run control inputs' }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { Queue1 }
EntityConveyor1 TravelTime { 4  s }

EntityConveyor2 NextComponent { EntitySink1 }
EntityConveyor2 TravelTime { 4  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 InterArrivalTime { 2  s }
EntityGenerator1 PrototypeEntity { SimEntity1 }

# *** EntitySink ***


# *** Queue ***


# *** Server ***

Server1 NextComponent { EntityConveyor2 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 1.2  s }

# *** SimEntity ***


# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

EntityConveyor1 Points { { -3.7  0.5  0.0  m } { -1.3  0.5  0.0  m } }

EntityConveyor2 Points { { 0.3  0.5  0.0  m } { 2.7  0.5  0.0  m } }

EntityGenerator1 Position { -4.5  0.5  0.0  m }

EntitySink1 Position { 3.5  0.5  0.0  m }

Queue1 Position { -0.5  -1.0  0.0  m }

Server1 Position { -0.5  0.5  0.0  m }

SimEntity1 Position { -6.5  0.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** BarGauge ***

BarGauge1 Position { -4.5  2.0  0.0  m }
BarGauge1 Orientation { 0  0  -90  deg }
BarGauge1 DataSource { [EntityGenerator1].FractionCompleted }

BarGauge2 Position { -0.5  2.0  0.0  m }
BarGauge2 Orientation { 0  0  -90  deg }
BarGauge2 DataSource { [Server1].FractionCompleted }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'BarGauge Example' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -0.597926  0.626391  -3.006039  m }
View1 ViewPosition { -0.597926  0.626391  14.314469  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
