
RecordEdits

Define DiscreteDistribution { CustomerTypeDistribution }
Define UniformDistribution { CustomerIATDistribution  EatMealDistribution  MakePaymentDistribution  OrderMealDistribution  PrepareSandwichDistribution }
Define Branch { Branch1 }
Define EntityDelay { EatMeal  EnterCafe  LeaveCafe  MakePayment  MoveFromBarToCheckout  MoveFromTablesToCheckout  MoveToSandwichBar  MoveToTables  OrderMeal  PrepareSandwich  SitDownAtTable }
Define EntityGenerator { CustomerGenerator }
Define EntitySink { CustomerSink }
Define Queue { CheckoutQueue  SandwichMakerQueue  TableQueue  WaitressQueue }
Define Release { ReleaseCheckout  ReleaseSandwichMaker  ReleaseTable  ReleaseWaitress }
Define Seize { SeizeCheckout  SeizeSandwichMaker  SeizeTable  SeizeWaitress }
Define Resource { Checkouts  SandwichMakers  Tables  Waitresses }
Define ColladaModel { Axis  Grid100x100 }
Define TextModel { ClockTextModel  TitleTextModel }
Define DisplayEntity { ProtoCustomer  XY-Grid  XYZ-Axis }
Define EntityLabel { Checkouts_Label  CustomerGenerator_Label  CustomerIATDistribution_Label  CustomerSink_Label  CustomerTypeDistribution_Label  EatMealDistribution_Label  MakePaymentDistribution_Label  OrderMealDistribution_Label  PrepareSandwichDistribution_Label  ProtoCustomer_Label  ReleaseCheckout_Label  ReleaseSandwichMaker_Label  ReleaseTable_Label  ReleaseWaitress_Label  SeizeCheckout_Label  SeizeSandwichMaker_Label  SeizeTable_Label  SeizeWaitress_Label  Tables_Label  Waitresses_Label }
Define Graph { Graph-1 }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3  Text4 }
Define View { View1 }

CustomerTypeDistribution UnitType { DimensionlessUnit }
CustomerIATDistribution UnitType { TimeUnit }
EatMealDistribution UnitType { TimeUnit }
MakePaymentDistribution UnitType { TimeUnit }
OrderMealDistribution UnitType { TimeUnit }
PrepareSandwichDistribution UnitType { TimeUnit }
Graph-1 UnitType { DimensionlessUnit }
Text1 UnitType { DimensionlessUnit }
Text2 UnitType { DimensionlessUnit }
Text3 UnitType { DimensionlessUnit }
Text4 UnitType { DimensionlessUnit }

Simulation Description { 'Simulation run control inputs' }

# *** DiscreteDistribution ***

CustomerTypeDistribution RandomSeed { 2 }
CustomerTypeDistribution MinValue { 1 }
CustomerTypeDistribution MaxValue { 2 }
CustomerTypeDistribution ValueList { 1  2 }
CustomerTypeDistribution ProbabilityList { 0.4  0.6 }

# *** UniformDistribution ***

CustomerIATDistribution RandomSeed { 1 }
CustomerIATDistribution MinValue { 10  s }
CustomerIATDistribution MaxValue { 50  s }

EatMealDistribution RandomSeed { 4 }
EatMealDistribution MinValue { 10  min }
EatMealDistribution MaxValue { 30  min }

MakePaymentDistribution RandomSeed { 5 }
MakePaymentDistribution MinValue { 15  s }
MakePaymentDistribution MaxValue { 35  s }

OrderMealDistribution RandomSeed { 3 }
OrderMealDistribution MinValue { 15  s }
OrderMealDistribution MaxValue { 45  s }

PrepareSandwichDistribution RandomSeed { 6 }
PrepareSandwichDistribution MinValue { 30  s }
PrepareSandwichDistribution MaxValue { 90  s }

# *** Branch ***

Branch1 NextComponentList { MoveToSandwichBar  MoveToTables }
Branch1 Choice { CustomerTypeDistribution }

# *** EntityDelay ***

EatMeal NextComponent { ReleaseTable }
EatMeal Duration { EatMealDistribution }

EnterCafe NextComponent { Branch1 }
EnterCafe Duration { 15.0  s }

LeaveCafe NextComponent { CustomerSink }
LeaveCafe Duration { 15.0  s }

MakePayment NextComponent { ReleaseCheckout }
MakePayment Duration { MakePaymentDistribution }

MoveFromBarToCheckout NextComponent { SeizeCheckout }
MoveFromBarToCheckout Duration { 15.0  s }

MoveFromTablesToCheckout NextComponent { SeizeCheckout }
MoveFromTablesToCheckout Duration { 15.0  s }

MoveToSandwichBar NextComponent { SeizeSandwichMaker }
MoveToSandwichBar Duration { 15.0  s }

MoveToTables NextComponent { SeizeTable }
MoveToTables Duration { 15.0  s }

OrderMeal NextComponent { ReleaseWaitress }
OrderMeal Duration { OrderMealDistribution }

PrepareSandwich NextComponent { ReleaseSandwichMaker }
PrepareSandwich Duration { PrepareSandwichDistribution }

SitDownAtTable NextComponent { SeizeWaitress }
SitDownAtTable Duration { 15.0  s }

# *** EntityGenerator ***

CustomerGenerator NextComponent { EnterCafe }
CustomerGenerator InterArrivalTime { CustomerIATDistribution }
CustomerGenerator PrototypeEntity { ProtoCustomer }
CustomerGenerator BaseName { Customer }

# *** EntitySink ***


# *** Queue ***





# *** Release ***

ReleaseCheckout NextComponent { LeaveCafe }
ReleaseCheckout ResourceList { Checkouts }
ReleaseCheckout NumberOfUnits { { 1.0 } }

ReleaseSandwichMaker NextComponent { MoveFromBarToCheckout }
ReleaseSandwichMaker ResourceList { SandwichMakers }
ReleaseSandwichMaker NumberOfUnits { { 1.0 } }

ReleaseTable NextComponent { MoveFromTablesToCheckout }
ReleaseTable ResourceList { Tables }
ReleaseTable NumberOfUnits { { 1.0 } }

ReleaseWaitress NextComponent { EatMeal }
ReleaseWaitress ResourceList { Waitresses }
ReleaseWaitress NumberOfUnits { { 1.0 } }

# *** Seize ***

SeizeCheckout NextComponent { MakePayment }
SeizeCheckout WaitQueue { CheckoutQueue }
SeizeCheckout ResourceList { Checkouts }
SeizeCheckout NumberOfUnits { { 1.0 } }

SeizeSandwichMaker NextComponent { PrepareSandwich }
SeizeSandwichMaker WaitQueue { SandwichMakerQueue }
SeizeSandwichMaker ResourceList { SandwichMakers }
SeizeSandwichMaker NumberOfUnits { { 1.0 } }

SeizeTable NextComponent { SitDownAtTable }
SeizeTable WaitQueue { TableQueue }
SeizeTable ResourceList { Tables }
SeizeTable NumberOfUnits { { 1.0 } }

SeizeWaitress NextComponent { OrderMeal }
SeizeWaitress WaitQueue { WaitressQueue }
SeizeWaitress ResourceList { Waitresses }
SeizeWaitress NumberOfUnits { { 1.0 } }

# *** Resource ***

Checkouts Capacity { 1.0 }

SandwichMakers Capacity { 1.0 }

Tables Capacity { 100.0 }

Waitresses Capacity { 1.0 }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 16 }
Simulation ShowLabels { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

CustomerTypeDistribution Position { -1.5  -1.5  0.0  m }

CustomerIATDistribution Position { -4.5  -1.5  0.0  m }

EatMealDistribution Position { 9.5  -3.0  0.0  m }

MakePaymentDistribution Position { 16.0  -0.7  0.0  m }

OrderMealDistribution Position { 6.0  -3.0  0.0  m }

PrepareSandwichDistribution Position { 3.5  3.0  0.0  m }

Branch1 Position { -1.5  0.5  0.0  m }

EatMeal Points { { 8.5  -1.5  0.0  m } { 10.5  -1.5  0.0  m } }

EnterCafe Points { { -3.5  0.5  0.0  m } { -2.5  0.5  0.0  m } }

LeaveCafe Points { { 18.5  0.5  0.0  m } { 19.5  0.5  0.0  m } }

MakePayment Points { { 15.5  0.5  0.0  m } { 16.5  0.5  0.0  m } }

MoveFromBarToCheckout Points { { 5.5  1.5  0.0  m } { 13.6  0.6  0.0  m } }

MoveFromTablesToCheckout Points { { 12.5  -1.5  0.0  m } { 13.6  0.3  0.0  m } }

MoveToSandwichBar Points { { -0.5  0.6  0.0  m } { 0.5  1.5  0.0  m } }

MoveToTables Points { { -0.5  0.4  0.0  m } { 0.5  -0.5  0.0  m } }

OrderMeal Points { { 5.5  -1.5  0.0  m } { 6.5  -1.5  0.0  m } }

PrepareSandwich Points { { 2.5  1.5  0.0  m } { 3.5  1.5  0.0  m } }

SitDownAtTable Points { { 2.5  -1.5  0.0  m } { 3.5  -1.5  0.0  m } }

CustomerGenerator Position { -4.5  0.5  0.0  m }

CustomerSink Position { 20.5  0.5  0.0  m }

CheckoutQueue Position { 14.5  -1.4  0.0  m }

SandwichMakerQueue Position { 1.4  2.5  0.0  m }

TableQueue Position { 1.5  -3.0  0.0  m }

WaitressQueue Position { 4.5  -3.0  0.0  m }

ReleaseCheckout Position { 17.5  0.5  0.0  m }

ReleaseSandwichMaker Position { 4.5  1.5  0.0  m }

ReleaseTable Position { 11.5  -1.5  0.0  m }

ReleaseWaitress Position { 7.5  -1.5  0.0  m }

SeizeCheckout Position { 14.5  0.5  0.0  m }

SeizeSandwichMaker Position { 1.5  1.5  0.0  m }

SeizeTable Position { 1.5  -1.5  0.0  m }

SeizeWaitress Position { 4.5  -1.5  0.0  m }

Checkouts Position { 14.5  -4.5  0.0  m }

SandwichMakers Position { 1.5  4.0  0.0  m }

Tables Position { 1.5  -4.5  0.0  m }

Waitresses Position { 4.5  -4.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** TextModel ***

ClockTextModel Description { 'Text style for the Clock' }
ClockTextModel FontColour { 51  51  51 }
ClockTextModel FontStyle { ITALIC }

TitleTextModel Description { 'Text style for the Title' }
TitleTextModel FontColour { 150  23  46 }
TitleTextModel FontStyle { BOLD }

# *** DisplayEntity ***

ProtoCustomer Position { -6.4  0.5  0.0  m }
ProtoCustomer Alignment { 0.0  0.0  -0.5 }
ProtoCustomer Size { 0.5  0.5  0.5  m }
ProtoCustomer DisplayModel { Sphere }

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

Checkouts_Label Position { 0.0  -0.65  0.0  m }
Checkouts_Label Size { 1.210971  0.3  0.0  m }
Checkouts_Label RelativeEntity { Checkouts }
Checkouts_Label Show { TRUE }
Checkouts_Label TargetEntity { Checkouts }

CustomerGenerator_Label Position { 0.0  -0.65  0.0  m }
CustomerGenerator_Label Size { 2.172706  0.3  0.0  m }
CustomerGenerator_Label RelativeEntity { CustomerGenerator }
CustomerGenerator_Label Show { TRUE }
CustomerGenerator_Label TargetEntity { CustomerGenerator }

CustomerIATDistribution_Label Position { 0.0  -0.65  0.0  m }
CustomerIATDistribution_Label Size { 2.681549  0.3  0.0  m }
CustomerIATDistribution_Label RelativeEntity { CustomerIATDistribution }
CustomerIATDistribution_Label Show { TRUE }
CustomerIATDistribution_Label TargetEntity { CustomerIATDistribution }

CustomerSink_Label Position { 0.0  -0.65  0.0  m }
CustomerSink_Label Size { 1.58607  0.3  0.0  m }
CustomerSink_Label RelativeEntity { CustomerSink }
CustomerSink_Label Show { TRUE }
CustomerSink_Label TargetEntity { CustomerSink }

CustomerTypeDistribution_Label Position { 0.0  -0.65  0.0  m }
CustomerTypeDistribution_Label Size { 2.825765  0.3  0.0  m }
CustomerTypeDistribution_Label RelativeEntity { CustomerTypeDistribution }
CustomerTypeDistribution_Label Show { TRUE }
CustomerTypeDistribution_Label TargetEntity { CustomerTypeDistribution }

EatMealDistribution_Label Position { 0.0  -0.65  0.0  m }
EatMealDistribution_Label Size { 2.144681  0.3  0.0  m }
EatMealDistribution_Label RelativeEntity { EatMealDistribution }
EatMealDistribution_Label Show { TRUE }
EatMealDistribution_Label TargetEntity { EatMealDistribution }

MakePaymentDistribution_Label Position { 0.0  -0.65  0.0  m }
MakePaymentDistribution_Label Size { 2.774003  0.3  0.0  m }
MakePaymentDistribution_Label RelativeEntity { MakePaymentDistribution }
MakePaymentDistribution_Label Show { TRUE }
MakePaymentDistribution_Label TargetEntity { MakePaymentDistribution }

OrderMealDistribution_Label Position { 0.0  -0.65  0.0  m }
OrderMealDistribution_Label Size { 2.39641  0.3  0.0  m }
OrderMealDistribution_Label RelativeEntity { OrderMealDistribution }
OrderMealDistribution_Label Show { TRUE }
OrderMealDistribution_Label TargetEntity { OrderMealDistribution }

PrepareSandwichDistribution_Label Position { 0.0  -0.65  0.0  m }
PrepareSandwichDistribution_Label Size { 3.108311  0.3  0.0  m }
PrepareSandwichDistribution_Label RelativeEntity { PrepareSandwichDistribution }
PrepareSandwichDistribution_Label Show { TRUE }
PrepareSandwichDistribution_Label TargetEntity { PrepareSandwichDistribution }

ProtoCustomer_Label Position { 0.0  -0.4  0.0  m }
ProtoCustomer_Label Size { 1.679023  0.3  0.0  m }
ProtoCustomer_Label RelativeEntity { ProtoCustomer }
ProtoCustomer_Label Show { TRUE }
ProtoCustomer_Label TargetEntity { ProtoCustomer }

ReleaseCheckout_Label Position { 0.0  -0.65  0.0  m }
ReleaseCheckout_Label Size { 1.896742  0.3  0.0  m }
ReleaseCheckout_Label RelativeEntity { ReleaseCheckout }
ReleaseCheckout_Label Show { TRUE }
ReleaseCheckout_Label TargetEntity { ReleaseCheckout }

ReleaseSandwichMaker_Label Position { 0.0  -0.65  0.0  m }
ReleaseSandwichMaker_Label Size { 2.544415  0.3  0.0  m }
ReleaseSandwichMaker_Label RelativeEntity { ReleaseSandwichMaker }
ReleaseSandwichMaker_Label Show { TRUE }
ReleaseSandwichMaker_Label TargetEntity { ReleaseSandwichMaker }

ReleaseTable_Label Position { 0.0  -0.65  0.0  m }
ReleaseTable_Label Size { 1.495711  0.3  0.0  m }
ReleaseTable_Label RelativeEntity { ReleaseTable }
ReleaseTable_Label Show { TRUE }
ReleaseTable_Label TargetEntity { ReleaseTable }

ReleaseWaitress_Label Position { 0.0  -0.65  0.0  m }
ReleaseWaitress_Label Size { 1.825033  0.3  0.0  m }
ReleaseWaitress_Label RelativeEntity { ReleaseWaitress }
ReleaseWaitress_Label Show { TRUE }
ReleaseWaitress_Label TargetEntity { ReleaseWaitress }

SeizeCheckout_Label Position { 0.0  -0.65  0.0  m }
SeizeCheckout_Label Size { 1.650898  0.3  0.0  m }
SeizeCheckout_Label RelativeEntity { SeizeCheckout }
SeizeCheckout_Label Show { TRUE }
SeizeCheckout_Label TargetEntity { SeizeCheckout }

SeizeSandwichMaker_Label Position { 0.0  -0.65  0.0  m }
SeizeSandwichMaker_Label Size { 2.29857  0.3  0.0  m }
SeizeSandwichMaker_Label RelativeEntity { SeizeSandwichMaker }
SeizeSandwichMaker_Label Show { TRUE }
SeizeSandwichMaker_Label TargetEntity { SeizeSandwichMaker }

SeizeTable_Label Position { 0.0  -0.65  0.0  m }
SeizeTable_Label Size { 1.249867  0.3  0.0  m }
SeizeTable_Label RelativeEntity { SeizeTable }
SeizeTable_Label Show { TRUE }
SeizeTable_Label TargetEntity { SeizeTable }

SeizeWaitress_Label Position { 0.0  -0.65  0.0  m }
SeizeWaitress_Label Size { 1.579189  0.3  0.0  m }
SeizeWaitress_Label RelativeEntity { SeizeWaitress }
SeizeWaitress_Label Show { TRUE }
SeizeWaitress_Label TargetEntity { SeizeWaitress }

Tables_Label Position { 0.0  -0.65  0.0  m }
Tables_Label Size { 0.80994  0.3  0.0  m }
Tables_Label RelativeEntity { Tables }
Tables_Label Show { TRUE }
Tables_Label TargetEntity { Tables }

Waitresses_Label Position { 0.0  -0.65  0.0  m }
Waitresses_Label Size { 1.260937  0.3  0.0  m }
Waitresses_Label RelativeEntity { Waitresses }
Waitresses_Label Show { TRUE }
Waitresses_Label TargetEntity { Waitresses }

# *** Graph ***

Graph-1 Position { 14.0  4.0  0.0  m }
Graph-1 Size { 12.0  4.0  0.0  m }
Graph-1 Title { 'Tables in Use' }
Graph-1 XAxisTitle { 'Time (minutes)' }
Graph-1 XAxisUnit { min }
Graph-1 XAxisStart { -60  min }
Graph-1 XAxisInterval { 10  min }
Graph-1 XAxisLabelFormat { %.0f }
Graph-1 XLines { -50  -40  -30  -20  -10  min }
Graph-1 YAxisTitle { 'Number of Tables in Use' }
Graph-1 YAxisEnd { 100 }
Graph-1 YAxisInterval { 10 }
Graph-1 YAxisLabelFormat { %.0f }
Graph-1 YLines { 20  40  60  80 }
Graph-1 NumberOfPoints { 600 }
Graph-1 DataSource { { [Tables].UnitsInUse } }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock DisplayModel { ClockTextModel }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title DisplayModel { TitleTextModel }
Title ScreenPosition { 15  15 }
Title Format { 'Cafe Model Example' }
Title TextHeight { 18 }

# *** Text ***

Text1 Position { 1.5  -5.8  0.0  m }
Text1 Format { 'In use: %.0f' }
Text1 DataSource { [Tables].UnitsInUse }

Text2 Position { 4.5  -5.8  0.0  m }
Text2 Format { 'In use: %.0f' }
Text2 DataSource { [Waitresses].UnitsInUse }

Text3 Position { 14.5  -5.8  0.0  m }
Text3 Format { 'In use: %.0f' }
Text3 DataSource { [Checkouts].UnitsInUse }

Text4 Position { 1.5  5.0  0.0  m }
Text4 Format { 'In use: %.0f' }
Text4 DataSource { [SandwichMakers].UnitsInUse }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 7.888513  -0.210738  0.0  m }
View1 ViewPosition { 7.888513  -0.210738  28.727942  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
