
RecordEdits

Define UniformDistribution { UniformDistribution1 }
Define Assign { Assign1 }
Define Combine { Combine1 }
Define Duplicate { Duplicate1 }
Define EntityConveyor { EntityConveyor1  EntityConveyor5 }
Define EntityDelay { EntityDelay1  EntityDelay2  EntityDelay3 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2  Queue3 }
Define SimEntity { SimEntity1 }
Define ColladaModel { Axis  Grid100x100 }
Define TextModel { ClockTextModel  TitleTextModel }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

UniformDistribution1 UnitType { TimeUnit }

SimEntity1 AttributeDefinitionList { id  0 }

Simulation Description { 'Simulation run control inputs' }

# *** UniformDistribution ***

UniformDistribution1 RandomSeed { 1 }
UniformDistribution1 MinValue { 1  s }
UniformDistribution1 MaxValue { 5  s }

# *** Assign ***

Assign1 NextComponent { EntityConveyor1 }
Assign1 AttributeAssignmentList { { this.obj.id=[EntityGenerator1].NumberGenerated } }

# *** Combine ***

Combine1 NextComponent { EntityConveyor5 }
Combine1 ServiceTime { 0.5  s }
Combine1 WaitQueueList { Queue1  Queue2  Queue3 }

# *** Duplicate ***

Duplicate1 NextComponent { EntityDelay1 }
Duplicate1 TargetComponentList { EntityDelay2  EntityDelay3 }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { Duplicate1 }
EntityConveyor1 TravelTime { 3  s }

EntityConveyor5 NextComponent { EntitySink1 }
EntityConveyor5 TravelTime { 3  s }

# *** EntityDelay ***

EntityDelay1 NextComponent { Queue1 }
EntityDelay1 Duration { UniformDistribution1 }

EntityDelay2 NextComponent { Queue2 }
EntityDelay2 Duration { UniformDistribution1 }

EntityDelay3 NextComponent { Queue3 }
EntityDelay3 Duration { UniformDistribution1 }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Assign1 }
EntityGenerator1 PrototypeEntity { SimEntity1 }

# *** EntitySink ***


# *** Queue ***




# *** SimEntity ***


# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { s }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ShowEventViewer { FALSE }

UniformDistribution1 Position { -0.5  -2.5  0.0  m }

Assign1 Position { -6.0  0.5  0.0  m }

Combine1 Position { 4.5  0.5  0.0  m }

Duplicate1 Position { -2.5  0.5  0.0  m }

EntityConveyor1 Points { { -5.3  0.5  0.0  m } { -3.3  0.5  0.0  m } }

EntityConveyor5 Points { { 5.3  0.5  0.0  m } { 7.6  0.5  0.0  m } }

EntityDelay1 Points { { -1.7  0.5  0.0  m } { 0.7  0.5  0.0  m } }

EntityDelay2 Points { { -1.7  -0.5  0.0  m } { 0.7  -0.5  0.0  m } }

EntityDelay3 Points { { -1.7  -1.5  0.0  m } { 0.7  -1.5  0.0  m } }

EntityGenerator1 Position { -7.5  0.5  0.0  m }

EntitySink1 Position { 8.5  0.5  0.0  m }

Queue1 Position { 3.5  0.5  0.0  m }

Queue2 Position { 3.5  -0.5  0.0  m }

Queue3 Position { 3.5  -1.5  0.0  m }

SimEntity1 Position { -8.9  0.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** TextModel ***

ClockTextModel Description { 'Text style for the Clock' }
ClockTextModel FontColour { 51  51  51 }
ClockTextModel FontStyle { ITALIC }

TitleTextModel Description { 'Text style for the Title' }
TitleTextModel FontColour { 150  23  46 }
TitleTextModel FontStyle { BOLD }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time (no leap years or leap seconds)' }
Clock DisplayModel { ClockTextModel }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title DisplayModel { TitleTextModel }
Title ScreenPosition { 15  15 }
Title Format { 'Duplicate and Combine Example' }
Title TextHeight { 18 }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 0.192185  -0.489259  0.0  m }
View1 ViewPosition { 0.192185  -0.489259  18.564027  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
