
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define ExponentialDistribution { IATDist }
Define EntityConveyor { EntityConveyor1  EntityConveyor2 }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define SimEntity { Proto }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3  Text4 }
Define View { View1 }

IATDist UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[EntityConveyor2].NumberInProgress < 3' }

# *** ExponentialDistribution ***

IATDist RandomSeed { 2 }
IATDist Mean { 1.25  s }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { Queue1 }
EntityConveyor1 TravelTime { 3  s }

EntityConveyor2 NextComponent { EntitySink1 }
EntityConveyor2 TravelTime { 3  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 InterArrivalTime { IATDist }
EntityGenerator1 PrototypeEntity { Proto }
EntityGenerator1 BaseName { Ent }

# *** EntityProcessor ***

EntityProcessor1 ReleaseThresholdList { ExpressionThreshold1 }
EntityProcessor1 NextComponent { EntityConveyor2 }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 Capacity { 2 }
EntityProcessor1 ServiceTime { 1  s }

# *** EntitySink ***


# *** Queue ***


# *** SimEntity ***


# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ShowEventViewer { FALSE }

ExpressionThreshold1 Position { 3.5  2.0  0.0  m }

IATDist Position { -2.5  -1.5  0.0  m }

EntityConveyor1 Points { { -1.8  0.5  0.0  m } { 0.8  0.5  0.0  m } }

EntityConveyor2 Points { { 2.2  0.5  0.0  m } { 4.8  0.5  0.0  m } }

EntityGenerator1 Position { -2.5  0.5  0.0  m }

EntityProcessor1 Position { 1.5  0.5  0.0  m }

EntitySink1 Position { 5.5  0.5  0.0  m }

Queue1 Position { 1.5  2.0  0.0  m }

Proto Position { -3.9  0.5  0.0  m }
Proto Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time (no leap years or leap seconds)' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'EntityProcessor Example - with ReleaseThresholdList' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 0.7  -0.9  0.0  m }
Text1 Alignment { -0.5  0.0  0.0 }
Text1 Size { 1.0  0.3  1.0  m }
Text1 TextHeight { 0.15  m }
Text1 Format { 'EntityList = %s' }
Text1 DataSource { [EntityProcessor1].EntityList }

Text2 Position { 0.7  -1.2  0.0  m }
Text2 Alignment { -0.5  0.0  0.0 }
Text2 Size { 1.0  0.3  1.0  m }
Text2 TextHeight { 0.15  m }
Text2 Format { 'RemainingTime = %s' }
Text2 DataSource { [EntityProcessor1].RemainingTime }

Text3 Position { 2.4  1.2  0.0  m }
Text3 Alignment { -0.5  0.0  0.0 }
Text3 Size { 1.0  0.3  1.0  m }
Text3 TextHeight { 0.15  m }
Text3 Format { 'EntityList = %s' }
Text3 DataSource { [EntityConveyor2].EntityList }

Text4 Position { 1.4  -0.5  0.0  m }
Text4 Alignment { 0.0  0.0  0.0 }
Text4 Size { 1.0  0.3  1.0  m }
Text4 TextHeight { 0.15  m }
Text4 FontColour { Red }
Text4 DataSource { [EntityProcessor1].State }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 1.641693  0.134824  8.216132  m }
View1 ViewPosition { 1.641693  0.134824  16.876386  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
