
RecordEdits

Define DiscreteDistribution { PassedDistribution }
Define ExponentialDistribution { GenerateDistribution }
Define UniformDistribution { InspectDistribution  MachineDistribution }
Define Branch { PassedInspection }
Define EntityDelay { EntityDelay1  EntityDelay2  EntityDelay3  EntityDelay4  EntityDelay5 }
Define EntityGenerator { GenerateParts }
Define EntitySink { GoodPartFinished }
Define Queue { InspectQueue  MachineQueue }
Define Server { InspectPart  MachinePart }
Define SimEntity { Part }
Define Statistics { PartStatistics }
Define ColladaModel { Axis  Grid100x100 }
Define BarGauge { BarGauge1  BarGauge1_Copy1 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text1_Copy1 }
Define View { View1 }

PassedDistribution UnitType { DimensionlessUnit }
GenerateDistribution UnitType { TimeUnit }
InspectDistribution UnitType { TimeUnit }
MachineDistribution UnitType { TimeUnit }
PartStatistics UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation InitializationDuration { 100000  min }
Simulation RunOutputList { { [PartStatistics].SampleAverage/1[min] } { '[PartStatistics].EntityTimeAverage("WaitForMachining")/1[min]' } { '[PartStatistics].EntityTimeAverage("WaitForInspection")/1[min]' } }
Simulation NumberOfReplications { 10 }

# *** DiscreteDistribution ***

PassedDistribution RandomSeed { 4 }
PassedDistribution ValueList { 1  2 }
PassedDistribution ProbabilityList { 0.90  0.10 }

# *** ExponentialDistribution ***

GenerateDistribution RandomSeed { 1 }
GenerateDistribution Mean { 1  min }

# *** UniformDistribution ***

InspectDistribution RandomSeed { 3 }
InspectDistribution MinValue { 0.75  min }
InspectDistribution MaxValue { 0.80  min }

MachineDistribution RandomSeed { 2 }
MachineDistribution MinValue { 0.65  min }
MachineDistribution MaxValue { 0.70  min }

# *** Branch ***

PassedInspection NextComponentList { EntityDelay4  EntityDelay5 }
PassedInspection Choice { PassedDistribution }

# *** EntityDelay ***

EntityDelay1 NextComponent { MachineQueue }
EntityDelay1 Duration { 5  s }

EntityDelay2 NextComponent { InspectQueue }
EntityDelay2 Duration { 5  s }

EntityDelay3 NextComponent { PassedInspection }
EntityDelay3 Duration { 5  s }

EntityDelay4 NextComponent { PartStatistics }
EntityDelay4 Duration { 5  s }

EntityDelay5 NextComponent { MachineQueue }
EntityDelay5 Duration { 5  s }

# *** EntityGenerator ***

GenerateParts NextComponent { EntityDelay1 }
GenerateParts InterArrivalTime { GenerateDistribution }
GenerateParts PrototypeEntity { Part }
GenerateParts BaseName { Part }

# *** EntitySink ***


# *** Queue ***

InspectQueue StateAssignment { WaitForInspection }

MachineQueue StateAssignment { WaitForMachining }

# *** Server ***

InspectPart NextComponent { EntityDelay3 }
InspectPart StateAssignment { Inspection }
InspectPart WaitQueue { InspectQueue }
InspectPart ServiceTime { InspectDistribution }

MachinePart NextComponent { EntityDelay2 }
MachinePart StateAssignment { Machining }
MachinePart WaitQueue { MachineQueue }
MachinePart ServiceTime { MachineDistribution }

# *** SimEntity ***

Part InitialState { InConveyor }

# *** Statistics ***

PartStatistics NextComponent { GoodPartFinished }
PartStatistics SampleValue { this.obj.TotalTime }
PartStatistics RecordEntityStateTimes { TRUE }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 8 }
Simulation ShowLabels { FALSE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

PassedDistribution Position { 6.5  2.5  0.0  m }

GenerateDistribution Position { -5.5  2.5  0.0  m }

InspectDistribution Position { 2.5  2.5  0.0  m }

MachineDistribution Position { -1.5  2.5  0.0  m }

PassedInspection Position { 6.5  0.5  0.0  m }

EntityDelay1 Position { -4.7  0.5  0.0  m }
EntityDelay1 Points { { -4.7  0.5  0.0  m } { -2.3  0.5  0.0  m } }

EntityDelay2 Position { -0.8  0.5  0.0  m }
EntityDelay2 Points { { -0.8  0.5  0.0  m } { 0.3  0.5  0.0  m } }

EntityDelay3 Position { 3.3  0.5  0.0  m }
EntityDelay3 Points { { 3.3  0.5  0.0  m } { 5.7  0.5  0.0  m } }

EntityDelay4 Position { 7.2  0.5  0.0  m }
EntityDelay4 Points { { 7.2  0.5  0.0  m } { 9.4  0.5  0.0  m } }

EntityDelay5 Position { 6.4  -0.1  0.0  m }
EntityDelay5 Points { { 6.4  -0.1  0.0  m } { 6.4  -1.0  0.0  m } { -0.8  -1.0  0.0  m } }

GenerateParts Position { -5.5  0.5  0.0  m }

GoodPartFinished Position { 11.8  0.5  0.0  m }

InspectQueue Position { 1.0  0.5  0.0  m }

MachineQueue Position { -1.5  -1.0  0.0  m }

InspectPart Position { 2.5  0.5  0.0  m }

MachinePart Position { -1.5  0.5  0.0  m }

Part Position { -7.4  0.5  0.0  m }
Part Alignment { 0.0  0.0  -0.5 }

PartStatistics Position { 10.1  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** BarGauge ***

BarGauge1 Position { -1.5  1.3  0.0  m }
BarGauge1 Size { 0.3  1  0  m }
BarGauge1 Orientation { 0.0  0.0  -90.0  deg }
BarGauge1 DataSource { [MachinePart].FractionCompleted }

BarGauge1_Copy1 Position { 2.5  1.3  0.0  m }
BarGauge1_Copy1 Size { 0.3  1  0  m }
BarGauge1_Copy1 Orientation { 0.0  0.0  -90.0  deg }
BarGauge1_Copy1 DataSource { [InspectPart].FractionCompleted }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Factory Example - 5) with bar gauges' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 4.7  -1.8  0.0  m }
Text1 Alignment { -0.5  0.0  0.0 }
Text1 Format { 'Failed Inspection: %,.0f' }
Text1 DataSource { [EntityDelay5].NumberAdded }

Text1_Copy1 Position { 6.4  1.3  0.0  m }
Text1_Copy1 Alignment { -0.5  0.0  0.0 }
Text1_Copy1 Format { 'Passed Inspection: %,.0f' }
Text1_Copy1 DataSource { [EntityDelay4].NumberAdded }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 2.016716  0.408449  1.770245  m }
View1 ViewPosition { 2.016716  0.408449  19.090753  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
