
RecordEdits

Define DowntimeEntity { UnschedDowntime  WeeklyDowntime }
Define ExpressionThreshold { QueueThreshold }
Define TimeSeries { ExpectedParts  Shifts }
Define TimeSeriesThreshold { ShiftThreshold }
Define DiscreteDistribution { PassedDistribution }
Define NonStatExponentialDist { NonStatDist }
Define UniformDistribution { InspectDistribution  MachineDistribution  TTRDist }
Define WeibullDistribution { TBFDist }
Define Branch { PassedInspection }
Define EntityDelay { EntityDelay1  EntityDelay2  EntityDelay3  EntityDelay4  EntityDelay5 }
Define EntityGenerator { GenerateParts }
Define EntitySink { GoodPartFinished }
Define Queue { InspectQueue  MachineQueue }
Define Server { InspectPart  MachinePart }
Define SimEntity { Part }
Define Statistics { PartStatistics }
Define ColladaModel { Axis  Grid100x100 }
Define BarGauge { BarGauge1  BarGauge1_Copy1 }
Define BooleanIndicator { DowntimeIndicator }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define Graph { Graph1 }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text1_Copy1 }
Define View { View1 }

ExpectedParts UnitType { DimensionlessUnit }
Shifts UnitType { DimensionlessUnit }
ShiftThreshold UnitType { DimensionlessUnit }
PassedDistribution UnitType { DimensionlessUnit }
InspectDistribution UnitType { TimeUnit }
MachineDistribution UnitType { TimeUnit }
TTRDist UnitType { TimeUnit }
TBFDist UnitType { TimeUnit }
PartStatistics UnitType { TimeUnit }
Graph1 UnitType { DimensionlessUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation InitializationDuration { 100000  min }
Simulation RunOutputList { { [PartStatistics].SampleAverage/1[min] } { [PartStatistics].SampleMinimum/1[min] } { [PartStatistics].SampleMaximum/1[min] } { [PartStatistics].HistogramBinCentres(1) } { [PartStatistics].HistogramBinFractions } }
Simulation NumberOfReplications { 10 }

# *** DowntimeEntity ***

UnschedDowntime IntervalWorkingEntity { MachinePart }
UnschedDowntime Interval { TBFDist }
UnschedDowntime Duration { TTRDist }

WeeklyDowntime FirstDowntime { 1[w]+8[h] }
WeeklyDowntime Interval { 1  w }
WeeklyDowntime Duration { 1  h }

# *** ExpressionThreshold ***

QueueThreshold OpenCondition { '[InspectQueue].QueueLength + [EntityDelay2].NumberInProgress < 3' }
QueueThreshold InitialOpenValue { TRUE }

# *** TimeSeries ***

ExpectedParts Value { { 0  h  0 } { 8  h  0 } { 12  h  300 } { 17  h  540 } { 24  h  540 } }
ExpectedParts CycleTime { 24  h }

Shifts Value { { 0  h  0 } { 8  h  1 } { 12  h  0 } { 12.5  h  1 } { 17.25  h  0 } }
Shifts CycleTime { 24  h }

# *** TimeSeriesThreshold ***

ShiftThreshold TimeSeries { Shifts }
ShiftThreshold MinOpenLimit { 0.9 }

# *** DiscreteDistribution ***

PassedDistribution RandomSeed { 4 }
PassedDistribution ValueList { 1  2 }
PassedDistribution ProbabilityList { 0.90  0.10 }

# *** NonStatExponentialDist ***

NonStatDist RandomSeed { 5 }
NonStatDist ExpectedArrivals { ExpectedParts }

# *** UniformDistribution ***

InspectDistribution RandomSeed { 3 }
InspectDistribution MinValue { 0.75  min }
InspectDistribution MaxValue { 0.80  min }

MachineDistribution RandomSeed { 2 }
MachineDistribution MinValue { 0.65  min }
MachineDistribution MaxValue { 0.70  min }

TTRDist RandomSeed { 7 }
TTRDist MinValue { 0.5  h }
TTRDist MaxValue { 1.5  h }

# *** WeibullDistribution ***

TBFDist RandomSeed { 6 }
TBFDist Scale { 113  h }
TBFDist Shape { 2 }

# *** Branch ***

PassedInspection NextComponentList { EntityDelay4  EntityDelay5 }
PassedInspection Choice { PassedDistribution }

# *** EntityDelay ***

EntityDelay1 NextComponent { MachineQueue }
EntityDelay1 Duration { 5  s }

EntityDelay2 NextComponent { InspectQueue }
EntityDelay2 Duration { 5  s }

EntityDelay3 NextComponent { PassedInspection }
EntityDelay3 Duration { 5  s }

EntityDelay4 NextComponent { PartStatistics }
EntityDelay4 Duration { 5  s }

EntityDelay5 NextComponent { MachineQueue }
EntityDelay5 Duration { 5  s }

# *** EntityGenerator ***

GenerateParts NextComponent { EntityDelay1 }
GenerateParts FirstArrivalTime { NonStatDist }
GenerateParts InterArrivalTime { NonStatDist }
GenerateParts PrototypeEntity { Part }
GenerateParts BaseName { Part }

# *** EntitySink ***


# *** Queue ***

InspectQueue StateAssignment { WaitForInspection }

MachineQueue StateAssignment { WaitForMachining }

# *** Server ***

InspectPart ImmediateThresholdList { ShiftThreshold }
InspectPart NextComponent { EntityDelay3 }
InspectPart StateAssignment { Inspection }
InspectPart WaitQueue { InspectQueue }
InspectPart ServiceTime { InspectDistribution }

MachinePart ImmediateThresholdList { ShiftThreshold }
MachinePart ReleaseThresholdList { QueueThreshold }
MachinePart ForcedMaintenanceList { WeeklyDowntime }
MachinePart ImmediateBreakdownList { UnschedDowntime }
MachinePart NextComponent { EntityDelay2 }
MachinePart StateAssignment { Machining }
MachinePart WaitQueue { MachineQueue }
MachinePart ServiceTime { MachineDistribution }

# *** SimEntity ***

Part InitialState { InConveyor }

# *** Statistics ***

PartStatistics NextComponent { GoodPartFinished }
PartStatistics SampleValue { this.obj.TotalTime }
PartStatistics HistogramBinWidth { 5  min }
PartStatistics RecordEntityStateTimes { TRUE }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { min  deg  /h }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 256 }
Simulation PauseTime { 10560  min }
Simulation ShowLabels { FALSE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ShowEventViewer { FALSE }

UnschedDowntime Position { 0.0  -2.0  0.0  m }

WeeklyDowntime Position { -3.0  -2.0  0.0  m }

QueueThreshold Position { 1.0  1.3  0.0  m }

ExpectedParts Position { -7.5  2.5  0.0  m }

Shifts Position { 0.0  2.5  0.0  m }

ShiftThreshold Position { 1.0  2.5  0.0  m }

PassedDistribution Position { 6.5  2.5  0.0  m }

NonStatDist Position { -5.5  2.5  0.0  m }

InspectDistribution Position { 2.5  2.5  0.0  m }

MachineDistribution Position { -1.5  2.5  0.0  m }

TTRDist Position { 3.5  -2.0  0.0  m }

TBFDist Position { 2.0  -2.0  0.0  m }

PassedInspection Position { 6.5  0.5  0.0  m }

EntityDelay1 Points { { -4.7  0.5  0.0  m } { -2.3  0.5  0.0  m } }

EntityDelay2 Points { { -0.8  0.5  0.0  m } { 0.3  0.5  0.0  m } }

EntityDelay3 Points { { 3.3  0.5  0.0  m } { 5.7  0.5  0.0  m } }

EntityDelay4 Points { { 7.2  0.5  0.0  m } { 9.4  0.5  0.0  m } }

EntityDelay5 Points { { 6.4  -0.1  0.0  m } { 6.4  -1.0  0.0  m } { -0.8  -1.0  0.0  m } }

GenerateParts Position { -5.5  0.5  0.0  m }

GoodPartFinished Position { 11.8  0.5  0.0  m }

InspectQueue Position { 1.0  0.5  0.0  m }

MachineQueue Position { -1.5  -1.0  0.0  m }

InspectPart Position { 2.5  0.5  0.0  m }

MachinePart Position { -1.5  0.5  0.0  m }

Part Position { -7.4  0.5  0.0  m }
Part Alignment { 0.0  0.0  -0.5 }

PartStatistics Position { 10.1  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** BarGauge ***

BarGauge1 Position { -1.5  1.3  0.0  m }
BarGauge1 Size { 0.3  1  0  m }
BarGauge1 Orientation { 0.0  0.0  -90.0  deg }
BarGauge1 DataSource { [MachinePart].FractionCompleted }

BarGauge1_Copy1 Position { 2.5  1.3  0.0  m }
BarGauge1_Copy1 Size { 0.3  1  0  m }
BarGauge1_Copy1 Orientation { 0.0  0.0  -90.0  deg }
BarGauge1_Copy1 DataSource { [InspectPart].FractionCompleted }

# *** BooleanIndicator ***

DowntimeIndicator Position { -1.5  -0.2  0.0  m }
DowntimeIndicator DataSource { '[WeeklyDowntime].WorkingState && [UnschedDowntime].WorkingState' }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** Graph ***

Graph1 Position { 2.5  6.0  0.0  m }
Graph1 Size { 12  5  0.0  m }
Graph1 Title { 'Queue Lengths' }
Graph1 XAxisTitle { 'Time (minutes)' }
Graph1 XAxisUnit { min }
Graph1 XAxisStart { -10  min }
Graph1 XAxisInterval { 1  min }
Graph1 XLines { -5  min }
Graph1 YAxisTitle { 'Number of Parts' }
Graph1 YAxisEnd { 10 }
Graph1 YAxisLabelFormat { %.0f }
Graph1 YLines { 1  2  3  4  5  6  7  8  9 }
Graph1 NumberOfPoints { 400 }
Graph1 DataSource { { [MachineQueue].QueueLength } { [InspectQueue].QueueLength } }
Graph1 LineColours { { red } { blue } }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Factory Example - 10) with maintenance' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 4.7  -1.8  0.0  m }
Text1 Alignment { -0.5  0.0  0.0 }
Text1 Format { 'Failed Inspection: %,.0f' }
Text1 DataSource { [EntityDelay5].NumberAdded }

Text1_Copy1 Position { 6.4  1.3  0.0  m }
Text1_Copy1 Alignment { -0.5  0.0  0.0 }
Text1_Copy1 Format { 'Passed Inspection: %,.0f' }
Text1_Copy1 DataSource { [EntityDelay4].NumberAdded }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 2.249022  3.200584  13.049714  m }
View1 ViewPosition { 2.249022  3.200584  30.370221  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
