
RecordEdits

Define FileToMatrix { RunInputs }
Define DiscreteDistribution { PassedDistribution }
Define ExponentialDistribution { GenerateDistribution }
Define UniformDistribution { InspectDistribution  MachineDistribution }
Define Branch { PassedInspection }
Define EntityGenerator { GenerateParts }
Define EntitySink { GoodPartFinished }
Define Queue { InspectQueue  MachineQueue }
Define Server { InspectPart  MachinePart }
Define SimEntity { Part }
Define Statistics { PartStatistics }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define EntityLabel { GenerateDistribution_Label  GenerateParts_Label  GoodPartFinished_Label  InspectDistribution_Label  InspectPart_Label  InspectQueue_Label  MachineDistribution_Label  MachinePart_Label  MachineQueue_Label  PartStatistics_Label  Part_Label  PassedDistribution_Label  PassedInspection_Label  RunInputs_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

RunInputs CustomOutputList { { data  0 } { IAT  0[s]  TimeUnit } { MachineDurMin  0[s]  TimeUnit } { MachineDurMax  0[s]  TimeUnit } { InspectDurMin  0[s]  TimeUnit } { InspectDurMax  0[s]  TimeUnit } }

PassedDistribution UnitType { DimensionlessUnit }
GenerateDistribution UnitType { TimeUnit }
InspectDistribution UnitType { TimeUnit }
MachineDistribution UnitType { TimeUnit }
PartStatistics UnitType { TimeUnit }

RunInputs DataFile { 'Factory Model Inputs.txt' }

RunInputs CustomOutputList { { data  [RunInputs].Value(1) } { IAT  this.data(1)*1[min]  TimeUnit } { MachineDurMin  this.data(2)*1[min]  TimeUnit } { MachineDurMax  this.data(3)*1[min]  TimeUnit } { InspectDurMin  this.data(4)*1[min]  TimeUnit } { InspectDurMax  this.data(5)*1[min]  TimeUnit } }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 100000  min }
Simulation GlobalSubstreamSeed { this.RunNumber }
Simulation RunOutputList { { this.RunNumber } { [PartStatistics].SampleAverage/1[min] } { [PartStatistics].SampleMinimum/1[min] } { [PartStatistics].SampleMaximum/1[min] } { '[PartStatistics].EntityTimeAverage("WaitForMachining")/1[min]' } { '[PartStatistics].EntityTimeAverage("WaitForInspection")/1[min]' } }
Simulation RunIndexDefinitionList { 10 }
Simulation StartingRunNumber { 1 }
Simulation EndingRunNumber { 10 }

# *** FileToMatrix ***


# *** DiscreteDistribution ***

PassedDistribution RandomSeed { 4 }
PassedDistribution ValueList { 1  2 }
PassedDistribution ProbabilityList { 0.90  0.10 }

# *** ExponentialDistribution ***

GenerateDistribution RandomSeed { 1 }
GenerateDistribution Mean { [RunInputs].IAT }

# *** UniformDistribution ***

InspectDistribution RandomSeed { 3 }
InspectDistribution MinValue { [RunInputs].InspectDurMin }
InspectDistribution MaxValue { [RunInputs].InspectDurMax }

MachineDistribution RandomSeed { 2 }
MachineDistribution MinValue { [RunInputs].MachineDurMin }
MachineDistribution MaxValue { [RunInputs].MachineDurMax }

# *** Branch ***

PassedInspection NextComponentList { PartStatistics  MachineQueue }
PassedInspection Choice { PassedDistribution }

# *** EntityGenerator ***

GenerateParts NextComponent { MachineQueue }
GenerateParts InterArrivalTime { GenerateDistribution }
GenerateParts PrototypeEntity { Part }
GenerateParts BaseName { Part }

# *** EntitySink ***


# *** Queue ***

InspectQueue StateAssignment { WaitForInspection }

MachineQueue StateAssignment { WaitForMachining }

# *** Server ***

InspectPart NextComponent { PassedInspection }
InspectPart StateAssignment { Inspection }
InspectPart WaitQueue { InspectQueue }
InspectPart ServiceTime { InspectDistribution }

MachinePart NextComponent { InspectQueue }
MachinePart StateAssignment { Machining }
MachinePart WaitQueue { MachineQueue }
MachinePart ServiceTime { MachineDistribution }

# *** SimEntity ***


# *** Statistics ***

PartStatistics NextComponent { GoodPartFinished }
PartStatistics SampleValue { this.obj.TotalTime }
PartStatistics RecordEntityStateTimes { TRUE }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { min  deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 32 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

RunInputs Position { 2.5  4.5  0.0  m }

PassedDistribution Position { 6.5  2.5  0.0  m }

GenerateDistribution Position { -5.5  2.5  0.0  m }

InspectDistribution Position { 2.5  2.5  0.0  m }

MachineDistribution Position { -1.5  2.5  0.0  m }

PassedInspection Position { 6.5  0.5  0.0  m }

GenerateParts Position { -5.5  0.5  0.0  m }

GoodPartFinished Position { 11.5  0.5  0.0  m }

InspectQueue Position { 1.0  0.5  0.0  m }

MachineQueue Position { -1.5  -1.0  0.0  m }

InspectPart Position { 2.5  0.5  0.0  m }

MachinePart Position { -1.5  0.5  0.0  m }

Part Position { -7.4  0.5  0.0  m }
Part Alignment { 0.0  0.0  -0.5 }

PartStatistics Position { 9.5  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

GenerateDistribution_Label Position { 0.0  -0.65  0.0  m }
GenerateDistribution_Label Size { 2.282812  0.3  0.0  m }
GenerateDistribution_Label RelativeEntity { GenerateDistribution }
GenerateDistribution_Label Show { FALSE }
GenerateDistribution_Label TargetEntity { GenerateDistribution }

GenerateParts_Label Position { 0.0  -0.65  0.0  m }
GenerateParts_Label Size { 1.612899  0.3  0.0  m }
GenerateParts_Label RelativeEntity { GenerateParts }
GenerateParts_Label Show { FALSE }
GenerateParts_Label TargetEntity { GenerateParts }

GoodPartFinished_Label Position { 0.0  -0.65  0.0  m }
GoodPartFinished_Label Size { 1.940426  0.3  0.0  m }
GoodPartFinished_Label RelativeEntity { GoodPartFinished }
GoodPartFinished_Label Show { FALSE }
GoodPartFinished_Label TargetEntity { GoodPartFinished }

InspectDistribution_Label Position { 0.0  -0.65  0.0  m }
InspectDistribution_Label Size { 2.097307  0.3  0.0  m }
InspectDistribution_Label RelativeEntity { InspectDistribution }
InspectDistribution_Label Show { FALSE }
InspectDistribution_Label TargetEntity { InspectDistribution }

InspectPart_Label Position { 0.0  -0.65  0.0  m }
InspectPart_Label Size { 1.320977  0.3  0.0  m }
InspectPart_Label RelativeEntity { InspectPart }
InspectPart_Label Show { FALSE }
InspectPart_Label TargetEntity { InspectPart }

InspectQueue_Label Position { 0.0  -0.4  0.0  m }
InspectQueue_Label Size { 1.570113  0.3  0.0  m }
InspectQueue_Label RelativeEntity { InspectQueue }
InspectQueue_Label Show { FALSE }
InspectQueue_Label TargetEntity { InspectQueue }

MachineDistribution_Label Position { 0.0  -0.65  0.0  m }
MachineDistribution_Label Size { 2.177294  0.3  0.0  m }
MachineDistribution_Label RelativeEntity { MachineDistribution }
MachineDistribution_Label Show { FALSE }
MachineDistribution_Label TargetEntity { MachineDistribution }

MachinePart_Label Position { 0.0  -0.65  0.0  m }
MachinePart_Label Size { 1.400964  0.3  0.0  m }
MachinePart_Label RelativeEntity { MachinePart }
MachinePart_Label Show { FALSE }
MachinePart_Label TargetEntity { MachinePart }

MachineQueue_Label Position { 0.0  -0.4  0.0  m }
MachineQueue_Label Size { 1.6501  0.3  0.0  m }
MachineQueue_Label RelativeEntity { MachineQueue }
MachineQueue_Label Show { FALSE }
MachineQueue_Label TargetEntity { MachineQueue }

PartStatistics_Label Position { 0.0  -0.65  0.0  m }
PartStatistics_Label Size { 1.498604  0.3  0.0  m }
PartStatistics_Label RelativeEntity { PartStatistics }
PartStatistics_Label Show { FALSE }
PartStatistics_Label TargetEntity { PartStatistics }

Part_Label Position { 0.0  -0.4  0.0  m }
Part_Label Size { 0.563497  0.3  0.0  m }
Part_Label RelativeEntity { Part }
Part_Label Show { FALSE }
Part_Label TargetEntity { Part }

PassedDistribution_Label Position { 0.0  -0.65  0.0  m }
PassedDistribution_Label Size { 2.04744  0.3  0.0  m }
PassedDistribution_Label RelativeEntity { PassedDistribution }
PassedDistribution_Label Show { FALSE }
PassedDistribution_Label TargetEntity { PassedDistribution }

PassedInspection_Label Position { 0.0  -0.65  0.0  m }
PassedInspection_Label Size { 1.924368  0.3  0.0  m }
PassedInspection_Label RelativeEntity { PassedInspection }
PassedInspection_Label Show { FALSE }
PassedInspection_Label TargetEntity { PassedInspection }

RunInputs_Label Position { 0.0  -0.65  0.0  m }
RunInputs_Label Size { 1.209176  0.3  0.0  m }
RunInputs_Label RelativeEntity { RunInputs }
RunInputs_Label Show { FALSE }
RunInputs_Label TargetEntity { RunInputs }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Factory Example - 1) with input file' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 2.521543  1.249828  1.770245  m }
View1 ViewPosition { 2.521543  1.249828  19.090753  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
