
RecordEdits

Define EntityConveyor { EntityConveyor1 }
Define EntityDelay { CloseTime  OpenTime }
Define EntityGenerator { EntityGenerator1  EntityGenerator2 }
Define EntitySignal { CloseSignal  OpenSignal }
Define EntitySink { EntitySink1 }
Define SignalThreshold { SignalThreshold1 }
Define SimEntity { SimEntity1  SimEntity2 }
Define ColladaModel { Axis  Grid100x100 }
Define TextModel { ClockTextModel  TitleTextModel }
Define BarGauge { BarGauge1 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Simulation Description { 'Simulation run control inputs' }
Simulation GlobalSubstreamSeed { 1 }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { EntitySink1 }
EntityConveyor1 TravelTime { 3  s }

# *** EntityDelay ***

CloseTime NextComponent { OpenSignal }
CloseTime Duration { 5  s }

OpenTime NextComponent { CloseSignal }
OpenTime Duration { 5  s }

# *** EntityGenerator ***

EntityGenerator1 ImmediateThresholdList { SignalThreshold1 }
EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 InterArrivalTime { 1  s }
EntityGenerator1 PrototypeEntity { SimEntity1 }

EntityGenerator2 NextComponent { OpenSignal }
EntityGenerator2 PrototypeEntity { SimEntity2 }
EntityGenerator2 MaxNumber { 1 }

# *** EntitySignal ***

CloseSignal NextComponent { CloseTime }
CloseSignal TargetSignalThreshold { SignalThreshold1 }
CloseSignal NewState { FALSE }

OpenSignal NextComponent { OpenTime }
OpenSignal TargetSignalThreshold { SignalThreshold1 }

# *** EntitySink ***


# *** SignalThreshold ***


# *** SimEntity ***



# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { s }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

EntityConveyor1 Points { { -4.7  1.5  0.0  m } { 0.8  1.5  0.0  m } }

CloseTime Points { { 0.3  -1.5  0.0  m } { 1.7  -1.5  0.0  m } }

OpenTime Points { { -2.7  -1.5  0.0  m } { -1.3  -1.5  0.0  m } }

EntityGenerator1 Position { -5.5  1.5  0.0  m }

EntityGenerator2 Position { -5.5  -1.5  0.0  m }

CloseSignal Position { -0.5  -1.5  0.0  m }

OpenSignal Position { -3.5  -1.5  0.0  m }

EntitySink1 Position { 1.5  1.5  0.0  m }

SignalThreshold1 Position { -5.5  0.0  0.0  m }
SignalThreshold1 Size { 0.5  0.5  0  m }

SimEntity1 Position { -7.5  1.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

SimEntity2 Position { -7.5  -1.5  0.0  m }
SimEntity2 Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** TextModel ***

ClockTextModel Description { 'Text style for the Clock' }
ClockTextModel FontColour { 51  51  51 }
ClockTextModel FontStyle { ITALIC }

TitleTextModel Description { 'Text style for the Title' }
TitleTextModel FontColour { 150  23  46 }
TitleTextModel FontStyle { BOLD }

# *** BarGauge ***

BarGauge1 Position { -5.5  3.0  0.0  m }
BarGauge1 Orientation { 0.0  0.0  -90  deg }
BarGauge1 DataSource { [EntityGenerator1].FractionCompleted }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time (no leap years or leap seconds)' }
Clock DisplayModel { ClockTextModel }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title DisplayModel { TitleTextModel }
Title ScreenPosition { 15  15 }
Title Format { 'SignalThreshold and EntitySignal Example' }
Title TextHeight { 18 }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -2.566156  0.503435  -1.859247  m }
View1 ViewPosition { -2.566156  0.503435  18.592472  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
