
RecordEdits

Define ExponentialDistribution { ExponentialDistribution1 }
Define EntityConveyor { EntityConveyor1  EntityConveyor2 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define Server { Server1 }
Define SimEntity { SimEntity1 }
Define Statistics { Statistics1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2 }
Define XYGraph { XYGraph1 }
Define View { View1 }

ExponentialDistribution1 UnitType { TimeUnit }
Statistics1 UnitType { TimeUnit }

XYGraph1 XAxisUnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** ExponentialDistribution ***

ExponentialDistribution1 RandomSeed { 1 }
ExponentialDistribution1 Mean { 1  s }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { Queue1 }
EntityConveyor1 TravelTime { 3  s }

EntityConveyor2 NextComponent { Statistics1 }
EntityConveyor2 StateAssignment { None }
EntityConveyor2 TravelTime { 3  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 InterArrivalTime { ExponentialDistribution1 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 BaseName { Ent }

# *** Queue ***

Queue1 StateAssignment { Waiting }

# *** Server ***

Server1 NextComponent { EntityConveyor2 }
Server1 StateAssignment { Processing }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 0.8  s }

# *** Statistics ***

Statistics1 NextComponent { EntitySink1 }
Statistics1 SampleValue { 'this.obj.StateTimes("Waiting")' }
Statistics1 HistogramBinWidth { 1  s }
Statistics1 TargetPercentiles { 90  99 }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg }
Simulation RealTime { FALSE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 8 }
Simulation ShowLabels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ShowEventViewer { FALSE }

ExponentialDistribution1 Position { -1.5  -1.5  0.0  m }

EntityConveyor1 Points { { -0.8  0.5  0.0  m } { 1.8  0.5  0.0  m } }

EntityConveyor2 Points { { 3.2  0.5  0.0  m } { 5.8  0.5  0.0  m } }

EntityGenerator1 Position { -1.5  0.5  0.0  m }

EntitySink1 Position { 8.0  0.5  0.0  m }

Queue1 Position { 2.5  2.0  0.0  m }

Server1 Position { 2.5  0.5  0.0  m }

SimEntity1 Position { -3.4  0.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Statistics1 Position { 6.5  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time (no leap years or leap seconds)' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Statistics and XYGraph Example' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 4.6  -1.1  0.0  m }
Text1 Alignment { -0.5  0.0  0.0 }
Text1 Size { 1.5  0.6  1.0  m }
Text1 TextHeight { 0.2  m }
Text1 Format { 'Number of Entities = %,.0f' }
Text1 DataSource { [Statistics1].NumberAdded }

Text2 Position { 3.8  -0.7  0.0  m }
Text2 Alignment { -0.5  0.0  0.0 }
Text2 Size { 1.5  0.6  1.0  m }
Text2 TextHeight { 0.2  m }
Text2 Format { '90th Percentile Queue Time = %.3f s' }
Text2 DataSource { [Statistics1].PercentileValues(1)/1[s] }

# *** XYGraph ***

XYGraph1 Position { 6.5  2.8  0.0  m }
XYGraph1 Title { 'Waiting Time Distribution' }
XYGraph1 LineColours { brick }
XYGraph1 SecondaryLineColours { { red } { blue } }
XYGraph1 SecondaryLineWidths { 2  1 }
XYGraph1 XAxisTitle { 'Queue Time (s)' }
XYGraph1 XAxisUnit { s }
XYGraph1 XAxisStart { 0  s }
XYGraph1 XAxisEnd { 15  s }
XYGraph1 XLines { 5  10  s }
XYGraph1 YAxisTitle { 'Fraction of Entities' }
XYGraph1 YAxisEnd { 0.5 }
XYGraph1 YAxisInterval { 0.1 }
XYGraph1 YLines { 0.1  0.2  0.3  0.4 }
XYGraph1 SecondaryYAxisTitle { 'Cumulative Fraction' }
XYGraph1 SecondaryYAxisStart { 0 }
XYGraph1 SecondaryYAxisEnd { 1 }
XYGraph1 SecondaryYAxisInterval { 0.1 }
XYGraph1 YDataSource { { [Statistics1].HistogramBinFractions } }
XYGraph1 XDataSource { { [Statistics1].HistogramBinCentres } }
XYGraph1 YSecondaryDataSource { { [Statistics1].HistogramBinCumulativeFractions } { 'y = [Statistics1].TargetPercentiles(1)/100; {0, y, y}' } }
XYGraph1 XSecondaryDataSource { { [Statistics1].HistogramBinUpperLimits } { 'x = [Statistics1].PercentileValues(1); {x,x,15[s]}' } }
XYGraph1 GraphType { BAR_GRAPH }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 4.305761  0.903373  8.142503  m }
View1 ViewPosition { 4.305761  0.903373  16.802757  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
